  <!-- Page Content -->
  <div [@renderAnim] class="container">
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h4 class="my-5">{{articleData.headLine}}</h4>

        <!-- Author -->
        <h3 class="lead">
          by 
          <a>{{articleData.author||'N/A'}}</a>
        </h3>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{articleData.publishedDtTm}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{articleData.imageUrl}}" alt="">

        <hr>
        <a *ngFor="let articlePara of articleParas">
          <p>{{articlePara}}</p>
        </a>

<footer>
    <button class="btn btn-primary tile-summary justify-content-center container-fluid row mx-auto px-2 my-2" (click)="onBackToTop()" >Back to Top</button>
</footer>
